@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@500&family=Jost:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
.active {
  color: #c76904;
}
.heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.paragraph {
  font-family: "Jost";
  font-style: normal;
  line-height: 150%;
}
.container {
  /* padding-inline: 355px; */
  max-width: calc(1920px - 355px);
  margin-inline: auto;
  padding-inline: 30px;
  /* background-color: red; */
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
}
.frame_text{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.blog_Card {
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog_Card:hover {
  background: #F4F0EC;
  transition: 0.8s;
}
.blog_Card img {
  border-radius: 45px 45px 0px 0px;
  background: #eaeaea;
}
.blog_tag{
  border-radius: 8px 8px 8px 0px;
  background: rgba(0, 0, 0, 0.50);
  padding:  4px 5px 8px 11px;
}
.skill-box {
  width: 100%;
}
.skill-box .skill-bar{
  width: 100%;
  background-color: #F4F0EC;
  height: 5px;
  border-radius: 5px;
  margin-top: 5px;
  user-select: none;
}
.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 65%;
  background-color: #CDA274;
  animation: progress .5s ease-in-out forwards;
}
.skill-per.team_mngment{
  width: 95%;
}
.skill-per.client_stfction{
  width: 75%;
}
.skill-per .tooltip{
  position: absolute;
  top: -30px;
  right: -14px;
} 

@keyframes progress {
  0%{
    width: 0;
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding-inline: 50px;
  }
  .nav_container {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-inline: 30px;
  }
  .nav_container {
    margin-top: 10px;
  }
  .blog_Card {
    padding: 10px;
    border-radius: 32px;
  }
  .blog_Card img {
    border-radius: 25px 25px 0px 0px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-inline: 20px;
  }
}
.shap {
  border-radius: 250px 0px 0px 0px;
}